<!DOCTYPE html>

<html>

<!--  <head>
    <title><%= full_title(yield(:title)) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
-->
  <body>

    <h1>Sample app</h1>

    <p>This is the home page for the sample app</p>

  </body>

</html>
